<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='css/mystyles.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
    <title>Report</title>
  </head>
  <body>
    <section class="section">
      <div class="content">
        <div class="columns is-vcentered">
          <div class="column is-9">
            <h1 class="title is-3">Informe de huella de carbono</h1>
            <p class="has-text-grey">
              {{ organisation }}<br />
              01/01/{{ year }} - 31/12/{{ year }}
            </p>
          </div>
          <div class="column is-3">
            <figure class="image">
              <img src="{{ url_for('static', path='logo.png')}}" />
            </figure>
          </div>
        </div>
        <h2 class="title is-4">Resumen</h2>
        <div class="columns">
          <div class="column">
            <p>
              {{ organisation }} emitió un total de
              <strong> {{ total }} tCO<sub>2</sub>eq</strong> en {{ year }}.
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">{{ results | safe}}</div>
          <div class="column">
            <div class="message is-info">
              <div class="message-header">
                <p>¿Qué significa {{ total }} tCO<sub>2</sub>eq</strong>?</p>
              </div>
              <div class="message-body">
                <p>
                  Las
                  <strong>toneladas de CO<sub>2</sub> equivalente </strong>
                  (tCO<sub>2</sub>eq) representan la transformación de todos
                  los tipos de gases de efecto invernadero a dióxido de carbono.
                </p>
                <p>
                  <span>
                    Estas emisiones ocupan <strong>{{ comparison }}</strong> veces
                    el volumen del <strong>{{ simile }}</strong>.
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <h2 class="title is-4">Distribución de inventarios de gases de efecto invernadero</h2>
        <div class="columns has-text-centered">
          <div class="column">
            <img src="{{ url_for('static', path=distribution)}}" />
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="message is-primary">
              <div class="message-header">
                <p>Alcance 1</p>
              </div>
              <div class="message-body has-text-primary">
                <p>
                  Emisiones <strong>directas</strong>:
                </p>
                <ul>
                  <li>Calefacción de las instalaciones.</li>
                  <li>
                    Vehículos de combustión interna de la organización.
                  </li>
                  <li>Fugas de gases carbonofluorados.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="message is-success">
              <div class="message-header">
                <p>Alcance 2</p>
              </div>
              <div class="message-body" style="min-height:160px">
                <p>
                  Emisiones <strong>indirectas</strong>:
                </p>
                <ul>
                  <li>Consumo eléctrico de las instalaciones.</li>
                  <li>
                    Vehículos eléctricos de la organización.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div style="display: block; clear: both; page-break-after: always"></div>
        <h2 class="title is-4">Comparativa con el año base ({{ base_year }})</h2>
        <div class="columns">
          <div class="column">
            <img src="{{ url_for('static', path=base_year_comparison)}}" />
          </div>
          <div class="column">
            <img src="{{ url_for('static', path=base_year_revenue_comparison)}}" />
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="message is-info">
              <div class="message-header">
                <p>¿Qué es el año base y por qué se requiere definir uno?</p>
              </div>
              <div class="message-body">
                <p>
                  El Protocolo de Gases de Efecto Invernadero indica que
                  "una comparación significativa y consistente de las 
                  emisiones a través del tiempo requiere fijar una 
                  <strong>base de desempeño contra la cual comparar
                  las emisiones actuales</strong>; esto se denomina
                  emisiones del año base."
                </p>
                <p>
                  Además de comparar las tCO<sub>2</sub>eq de cada año
                  agrupadas por alcances, comparamos las emisiones con la cifra
                  de negocio de ambos años, para poder tener una imagen
                  más completa del desempeño ambiental de la organización.
                  El segundo gráfico representa <strong>cuántas tCO<sub>2</sub>eq
                  se producen por cada 1.000 euros facturados</strong>
                  (tCO<sub>2</sub>eq/1k€).
                </p>
              </div>
            </div>
          </div>
        </div>       
        <h2 class="title is-4 mt-5">Comparativa con el sector</h2>
        <div class="columns">
          <div class="column">{{ sector_table | safe}}</div>
        </div>
        <div class="columns">
          <div class="column">
            <img src="{{ url_for('static', path=sector_chart)}}"/>
          </div>          
          <div class="column">
            <div class="message is-info">
              <div class="message-header">
                <p>¿Cómo nos comparamos con el sector?</p>
              </div>
              <div class="message-body">
                <p>
                  A partir de los datos disponibles en
                  <strong>fuentes oficiales</strong>,
                  conocemos cuántas tCO<sub>2</sub>eq
                  se producen en el sector de {{ organisation }} por cada 1.000 euros
                  facturados. Este indicador expresa cuál el
                  <strong>desempeño ambiental general del sector</strong>.
                </p>
                <p>
                  Utilizamos los <strong>datos del último año disponible</strong>
                  en las fuentes. Puede no coincidir con el año de la
                  huella de carbono de este informe, pues transcurre tiempo
                  desde que las organizaciones registran sus emisiones hasta
                  que se actualizan las bases de datos oficiales.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="columns is-centered mt-5">
          <div class="column is-9">
            <figure class="image">
              <img src="{{ url_for('static', path='image-report.png')}}"/>
            </figure>
          </div> 
        </div> -->
      </div>
    </section>
  </body>
</html>
